*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font: 16px sans-serif;
}

.table{
	display: table;
	border:solid 1px #000;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	text-align:center;
}

.borderedWithTitle{
	height: 95%;
	width: 90%;
	padding: 10px;
	background: #ccc;
	border: solid 1px #000;
	position: absolute;
	top: 10px;
	left: 10px;
}

	.borderedWithTitle>h2{
		height: 30px;
		line-height:30px;
		width: 50px;
		text-align: center;
		position: absolute;
		top: -15px;
		left: 10px;
		/*background-image: #fff;
		background-position: -15px 15px;*/
	}

.container{
	width: 100%;
	height: 100%;
}

	.container header{
		display: block;
		width: 100%;
		height: 12%;
		position: absolute;
		top: 0;
		left: 0;
	}

		.container header h1{
			text-align: center;
			font-size: 2rem;
		}

		.container header .logInfo{
			position: absolute;
			top:5%;
			right: 5%;
			margin-right: 50px;
			border: 1px solid #000;
			background-color: #ccc;
			padding: 10px;
		}

		.container header .logInfo a{
			text-decoration: none;
			color: #000;
		}

		.container header nav{
			width: 800px;
			margin : 0 auto;
		}		

			.container header nav a{
				display: block;
				width: 200px;
				float: left;
				text-align: center;
				border : 1px solid #000;
				background-color: #ccc;
				padding: 10px;
				text-decoration: none;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				color: #000;
			}
			.container header nav a:hover{
				background-color: #333;
				color: #fff;
			}

	.container section{
		display: block;
		width: 100%;
		height: 88%;
		position: absolute;
		top: 12%;
		left: 0;
	}

		.container section #sideBar{
			display: block;
			width: 20%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}	

		.container section #content{
			display: block;
			width: 80%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 20%;
		}

			.container section #content #resultsBar{
				display: block;
				width: 100%;
				height: 7%;
				position: absolute;
				top: 0;
				left: 0;
			}

				.container section #content #resultsBar .elementOfResultsBar{
					display: block;
					float: left;
				}

				.container section #content #resultsBar form{
					margin-right: 50px;
				}

					.container section #content #resultsBar #paginationNav a:first-child{
						padding-right: 10px;
					}

					.container section #content #resultsBar #paginationNav a:last-child{
						padding-left: 10px;
					}

			.container section #content #showBooks{
				display: block;
				width: 100%;
				height: 90%;
				position: absolute;
				top: 10%;
				left: 0;
				overflow-y: scroll;
			}

				.container section #content #showBooks .detail{
					color: #000;
				}

					.container section #content #showBooks .detail .cover{
						width: 440px;
						height: 350px;
						margin: 0 20px 20px 0;
						float: left;
					}

						.container section #content #showBooks .detail .cover .row{}

							.container section #content #showBooks .detail .cover .row .cell{
								width: 220px;
								vertical-align: middle;
							}

								.container section #content #showBooks .detail .cover .row .cell img{
									display:block;
									width: 200px;
									margin: 0 auto;
								}

	.container #shadow{
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
	}

		.container #shadow #showDetail{
			position: absolute;
			top:50%;
			left: 50%;
			z-index: 5;
			-webkit-transform: translateX(-50%)translateY(-50%);
			-ms-transform: translateX(-50%)translateY(-50%);
			-o-transform: translateX(-50%)translateY(-50%);
			transform: translateX(-50%)translateY(-50%);
		}

			.container #shadow #showDetail figcaption{
				background-color: #fff;
				padding: 5px;
			}

				.container #shadow #showDetail figcaption h1{
					font-size: 1.2rem;
				}