*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font: 16px sans-serif;
}

.table{
	display: table;
	border:solid 1px #000;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	text-align:center;
}

.cell-text{
	text-align: left;
}

.fieldset fieldset{
	height: 95%;
	width: 90%;
	padding: 10px;
	background: #ccc;
	border: solid 1px #000;
	position: absolute;
	top: 10px;
	left: 10px;
}

.container{
	width: 100%;
	height: 100%;
}

	.container header{
		display: block;
		width: 100%;
		height: 12%;
		position: absolute;
		top: 0;
		left: 0;
	}

		.container header h1{
			text-align: center;
			font-size: 2rem;
		}

		.container header .logInfo{
			position: absolute;
			top:5%;
			right: 5%;
			margin-right: 50px;
			border: 1px solid #000;
			background-color: #ccc;
			padding: 10px;
		}

		.container header .logInfo a{
			text-decoration: none;
			color: #000;
		}

		.container header nav{
			width: 800px;
			margin : 0 auto;
		}		

			.container header nav a{
				display: block;
				width: 200px;
				float: left;
				text-align: center;
				border : 1px solid #000;
				background-color: #ccc;
				padding: 10px;
				text-decoration: none;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				color: #000;
			}

				.container header nav a #numberBooksInCart{
					display: none;
					margin-right: 5px;
					border : 1px solid green;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					background-color: green;
					color: white;
					font-weight: bolder;
					padding: 5px;
				}
				
			.container header nav a:hover{
				background-color: #333;
				color: #fff;
			}

	.container section{
		display: block;
		width: 100%;
		height: 88%;
		position: absolute;
		top: 12%;
		left: 0;
	}

		.container section #sideBar{
			display: block;
			width: 20%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

			.container section #sideBar #resultKeywordResearch a{
				color: #000;
				text-decoration: none;
			}

				.container section #sideBar #resultKeywordResearch a span{
					color: rgba(0,0,0,0.4);
				}

				.container section #sideBar #resultKeywordResearch a em{
					color: #000;
				}

		.container section .navbarAccount nav a{
			display: block;
			width: 200px;
			text-align: center;
			border : 1px solid #000;
			border-bottom: none;
			background-color: #ccc;
			padding: 10px;
			text-decoration: none;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
			color: #000;
		}
		.container section .navbarAccount nav a:first-child{
			margin-top: 25px;	
		}
		.container section .navbarAccount nav a:last-child{
			border-bottom: 1px solid #000;	
		}
			
		.container section .navbarAccount nav a:hover{
			background-color: #333;
			color: #fff;
		}

		.container section #content{
			display: block;
			width: 80%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 20%;
		}

			.container section #content #resultsBar{
				display: block;
				width: 100%;
				height: 7%;
				position: absolute;
				top: 0;
				left: 0;
			}

				.container section #content #resultsBar .elementOfResultsBar{
					display: block;
					float: left;
				}

				.container section #content #resultsBar form{
					margin-right: 50px;
				}

					.container section #content #resultsBar #paginationNav a:first-child{
						padding-right: 10px;
					}

					.container section #content #resultsBar #paginationNav a:last-child{
						padding-left: 10px;
					}

			.container section #content #showBooks{
				display: block;
				width: 100%;
				height: 90%;
				position: absolute;
				top: 10%;
				left: 0;
				overflow-y: scroll;
			}

				.container section #content #showBooks .card{
					width: 440px;
					height: 350px;
					margin: 0 20px 20px 0;
					float: left;
				}

				.container section #content #showBooks .card-bookNotAvailable{
					background: red;
				}

					.container section #content #showBooks .card .row{}

						.container section #content #showBooks .card .row .cell{
							width: 220px;
							vertical-align: middle;
						}

							.container section #content #showBooks .card .row .cell img{
								display:block;
								width: 200px;
								margin: 0 auto;
							}

							.container section #content #showBooks .card .row .cell-text{}

								.container section #content #showBooks .card .row .cell-text .pNotAvailable{
									color: white;
								}

								.container section #content #showBooks .card .row .cell-text #msgInCart{
									color: blue;
								}

								.container section #content #showBooks .card .row .cell-text .btn-long{
									width: 200px;
									height: 30px;
								}

/*CSS de la page deliveryPlace*/
#showMap{
	width: 80%;
	height: 60%;
	margin: 0 auto;
}
	#showMap #mapDeliveryPlacesChoice {
					height: 100%
	}

#validateChoicedDeliveryPlace{
	display: none;
}

.container section p.legendShowMap{
	display: none;
}
table{
	margin-bottom: 30px;
}
table thead tr th, table tbody tr td{
	border: 1px solid #ccc;
	padding: 5px;
	line-height: 50px;
} 

thead tr th, tbody tr td{
	border-collapse: collapse;
	width: 200px;
	height: 30px;
	text-align: center;
}

.cartTable tr td{
	line-height: -50px;
}

	.container #shadow{
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
	}

		.container #shadow #lightBox{
			background-color: #fff;
			position: absolute;
			top:50%;
			left: 50%;
			z-index: 5;
			-webkit-transform: translateX(-50%)translateY(-50%);
			-ms-transform: translateX(-50%)translateY(-50%);
			-o-transform: translateX(-50%)translateY(-50%);
			transform: translateX(-50%)translateY(-50%);
		}

			.container #shadow #lightBox figure img{
				display: block;
			}
			.container #shadow #lightBox figure #closeLightBox{
				position: absolute;
				top: 15px;
				right: 15px;
				z-index: 11;
				border:none;
				background: rgba(255,255,255,0.6);
				font-size: 1rem;
				line-height: 20px;
				display: inline-block;
				width: 20px;
				height: 20px;
				text-shadow:0 0 1px #222;
				cursor: pointer;
			}

				.container #shadow #lightBox figure #closeLightBox span{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translateX(-50%)translateY(-50%);
					-ms-transform: translateX(-50%)translateY(-50%);
					-o-transform: translateX(-50%)translateY(-50%);
					transform: translateX(-50%)translateY(-50%);
				}

			.container #shadow #lightBox figcaption{
				padding: 5px;
			}

				.container #shadow #lightBox figcaption h1{
					font-size: 1.2rem;
				}

#carousel{
	width: 200px;
	height: 350px;
	overflow: hidden;
	background: red;
}

	#carousel .cardCarousel{
		display: block;
		width: inherit;
		height: inherit;
		float: left;
	}

		#carousel .cardCarousel .coverCardCarousel{
			height: 313px;
			position: absolute;
			top: 0;
			left: 0;
		}

			#carousel .cardCarousel .coverCardCarousel img{
				display: block;
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translateX(-50%)translateY(-50%);
				-ms-transform: translateX(-50%)translateY(-50%);
				-o-transform: translateX(-50%)translateY(-50%);
				transform: translateX(-50%)translateY(-50%);
			}

		#carousel .cardCarousel figcaption{
			height: 37px;
			position: absolute;
			top: 313px;
			left: 0;
			background: blue;
		}